{% load crowdsourcing %}
<link rel="stylesheet" href="http://sorgalla.com/projects/jcarousel/skins/tango/skin.css" type="text/css"></link>
<link rel="stylesheet" href="{{ STATIC_URL }}crowdsourcing/enlarge.css" type="text/css"></link>
<link rel="stylesheet" href="{{ STATIC_URL }}crowdsourcing/google_maps.css" type="text/css"></link>
<link rel="stylesheet" href="{{ STATIC_URL }}crowdsourcing/styles.css" type="text/css"></link>

{% jquery_and_google_api %}
{% yahoo_api %}
<script type="text/javascript" src="{{ STATIC_URL }}crowdsourcing/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}crowdsourcing/survey.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}crowdsourcing/enlarge.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}crowdsourcing/google_maps.js"></script>
