{% extends "subsite.html" %}
{% load i18n %}

{#{% block topbar %}#}
{##}
{#    <div class="dropout">#}
{#        <div class="dropout-inner clearfix">#}
{#            <div class="dropout-arrow"></div>#}
{##}
{#            <form method="post" action="{% url lazysignup_convert %}">#}
{#            <div>#}
{#              <label for="id_email">{% trans "E-Mailadresse" %}:</label> {{ form.email }}#}
{#            </div>#}
{##}
{#            <div>#}
{#              <label for="id_password1">{% trans "Passwort" %}:</label> {{ form.password1 }}#}
{#            </div>#}
{##}
{#            <div>#}
{#              <label for="id_password2">{% trans "Passwort bestätigen" %}:</label> {{ form.password2 }}#}
{#            </div>#}
{##}
{#              <input type="hidden" name="username" value="{{ username }}"/>#}
{#              <input type="hidden" name="redirect_to" value="{{ redirect_to }}">#}
{#              <input class="dropout-button" type="submit" value="{% trans "Registrieren" %}" />#}
{#            </form>#}
{##}
{#        </div>#}
{#        <div class="dropout-footer">#}
{#            <span class="foot-left"></span>#}
{#            <span class="foot-right"></span>#}
{#        </div>#}
{#    </div>#}
{#    <!-- end: dropout -->#}
{##}
{#{% endblock %}#}


{% block content %}

    <h2>{% trans "Registration" %}</h2>
    <p>{% trans "Registrieren Sie sich jetzt, um Ihre Geschenklisten zu speichern." %}</p>

    <form method="post" action="{% url lazysignup_convert %}">
        <div>
            {% if form.email.errors %}{{ form.email.errors }}{% endif %}
            <label for="id_email">{% trans "E-Mail:" %}</label> {{ form.email }}
        </div>

        <div>
            {% if form.password1.errors %}{{ form.password1.errors }}{% endif %}
            <label for="id_password1">{% trans "Passwort:" %}</label> {{ form.password1 }}
        </div>

        <div>
            {% if form.password2.errors %}{{ form.password2.errors }}{% endif %}
            <label for="id_password2">{% trans "Passwort wiederholen:" %}</label> {{ form.password2 }}
        </div>
        
        <input type="hidden" name="username" value="{{ username }}"/>
        <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
        <span class="submit-button"><input type="submit" value="{% trans "Registrieren" %}" /></span>
    </form>

{% endblock %}