{% extends "subsite.html" %}
{% load i18n %}


{% block content %}

    <h2>{% trans "Vielen Dank!" %}</h2>
    <p>{% trans "Sie erhalten in Kürze ein Bestätigungs-E-Mail." %}</p>

    <h3>{% trans "Jetzt mitmachen und gewinnen!" %}</h3>
    <p>{% trans "Suchen Sie gleich jetzt ein passendes Geschenk für eine liebe Freundin oder einen lieben Freund und sichern Sie sich die einmalige Chance, jede Woche eine Manor Geschenkarte im Wert von CHF 250.– zu gewinnen." %}</p>

    <p><a href="{% url lottery_participate %}" class="button"><span>{% trans "Jetzt teilnehmen" %}</span></a></p><br/><br/>
    <p><a href="/"><span>{% trans "Geschenke finden ohne Teilnahme" %}</span></a></p>

{% endblock %}
