{% extends "subsite.html" %}
{% load i18n %}


{% block title %}{% trans "Passwort zurücksetzen" %}{% endblock %}

{% block content %}

    {% if validlink %}

        <h1>{% trans "Geben Sie ein neues Passwort ein" %}</h1>
        <p>{% trans "Bitte geben Sie Ihr Passwort zweimal ein, damit wir die korrekte Schreibweise überprüfen können." %}</p>

        <form action="" method="post">
            {% csrf_token %}
            {{ form.new_password1.errors }}
            <p class="aligned wide"><label for="id_new_password1">{% trans "Neues Passwort:" %}</label> {{ form.new_password1 }}</p>
            {{ form.new_password2.errors }}
            <p class="aligned wide"><label for="id_new_password2">{% trans "Passwort-Bestätigung:" %}</label>{{ form.new_password2 }}</p>
            <span class="submit-button"><input type="submit" value="{% trans "Mein Passwort ändern" %}" /></span>
        </form>

    {% else %}

        <h1>{% trans "Das Passwort konnte nicht zurückgesetzt werden" %}</h1>
        <p class="error-hint">{% trans "Der Link zum Zurücksetzen des Passworts ist ungültig. Wahrscheinlich wurde er bereits verwendet. Bitte versuchen Sie erneut, Ihr Passwort zurückzusetzen." %}</p>

    {% endif %}

{% endblock %}
