{% extends "subsite.html" %}
{% load i18n %}

{% block title %}{% trans "Passwort zurücksetzen" %}{% endblock %}

{% block content %}

    <h1>{% trans "Passwort zurücksetzen" %}</h1>
    <p>{% trans "Sie haben Ihr Passwort vergessen? Bitte geben Sie nachfolgend Ihre E-Mail-Adresse an, wir werden Ihnen umgehend eine E-Mail senden mit einer Erklärung, wie Sie ein neues Passwort setzen können." %}</p>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.email.errors }}
        <p><label for="id_email">{% trans "E-Mail-Adresse:" %}</label> {{ form.email }}</p>
        <span class="submit-button"><input type="submit" value="{% trans "Passwort zurücksetzen" %}" /></span>
    </form>

{% endblock %}