#!chuck_extends requirements/requirements_dev.txt

#!chuck_appends REQUIREMENTS
coverage>=3.5.1
logilab-astng>=0.22.0
logilab-common>=0.56.2
mock>=0.7.2
unittest2>=0.5.1
pylint>=0.24.0
django-test-utils>=0.3
django-any>=0.2.0
#!end
